<!DOCTYPE html>
<html>
<title>Weather Station</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/font_awesome.css') }}">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
<script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
table, th, td {
  border: 1px solid black;
}
td { min-height: 20px; }
body { margin: 0; padding: 0; }

</style>
<body onload="loadTable()">

<!-- Navbar -->
<div class="w3-top" id="navbar">
<div class="w3-bar w3-black w3-card">
<a href="https://jonathanlclark.weebly.com/" class="w3-bar-item w3-button w3-padding-large">JLC Home</a>
</div>
</div>

<div class="w3-container w3-content w3-center w3-padding-32" style="max-width:200px" id="title">
<h2 class="w3-wide">Clark Weather Station</h2>
</div>

<div class="w3-container w3-content w3-center w3-padding-32" style="max-width:200px" id="filters">
<label for="start">Start Date:</label>
<input type="date" id="start_date" name="start_date"><br>

<label for="start">End date:</label>
<input type="date" id="end_date" name="end_date">
<button type='button' class='w3-black w3-section w3-left' onclick="applyFilters()">Apply</button>
</div>


<div id="chart_div"></div>

<div id="pressure_chart"></div>

<div id="humidity_chart"></div>

<div id="outdoor_temp_diff"></div>

<div id="indoor_temp_diff"></div>



<script
src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
</script>

<script>
var chartsCreated = false;

google.charts.load('current', {packages: ['corechart', 'line']});
//google.charts.setOnLoadCallback(drawBasic);

function graphTemperatures(dataSet) 
{
      var data = new google.visualization.DataTable();
      data.addColumn('date', 'Day');
      data.addColumn('number', 'Outdoor Temperature');
	  data.addColumn('number', 'Indoor Temperature');
	  data.addColumn('number', 'Garage Temperature');
	  
	  for (row in dataSet)
	  {
          var timestamp = Date.parse(dataSet[row]["date"]);
		  data.addRow([new Date(timestamp), dataSet[row]["outdoor_temp"], dataSet[row]["indoor_temp"], dataSet[row]["garage_temp"]]);
	  }

      var options = {
	    title: 'Temperatures',
		height: 300,
        hAxis: {
          title: 'Day'
        },
        vAxis: {
          title: 'Temperature F'
        }
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

      chart.draw(data, options);
}

function graphTemperatureDifferential(dataSet) 
{
      var data = new google.visualization.DataTable();
      data.addColumn('date', 'Day');
      data.addColumn('number', 'Outdoor Max Temps');
	  data.addColumn('number', 'Outdoor Min Temps');
	  data.addColumn('number', 'Differential');
	  
	  for (row in dataSet["max_values"])
	  {
          var timestamp = Date.parse(dataSet["max_values"][row]["date"]);
		  data.addRow([new Date(timestamp), dataSet["max_values"][row]["outdoor_temp"], dataSet["min_values"][row]["outdoor_temp"], dataSet["min_max_differential"][row]["outdoor_temp"]]);
	  }

      var options = {
	    title: 'Outdoor Temperature Differential',
		height: 300,
        hAxis: {
          title: 'Day'
        },
        vAxis: {
          title: 'Temperature Diff'
        }
      };

      var chart = new google.visualization.LineChart(document.getElementById('outdoor_temp_diff'));

      chart.draw(data, options);
}

function graphIndoorTemperatureDifferential(dataSet) 
{
      var data = new google.visualization.DataTable();
      data.addColumn('date', 'Day');
      data.addColumn('number', 'Indoor Max Temps');
	  data.addColumn('number', 'Indoor Min Temps');
	  data.addColumn('number', 'Differential');
	  
	  for (row in dataSet["max_values"])
	  {
          var timestamp = Date.parse(dataSet["max_values"][row]["date"]);
		  data.addRow([new Date(timestamp), dataSet["max_values"][row]["indoor_temp"], dataSet["min_values"][row]["indoor_temp"], dataSet["min_max_differential"][row]["indoor_temp"]]);
	  }

      var options = {
	    title: 'Indoor Temperature Differential',
		height: 300,
        hAxis: {
          title: 'Day'
        },
        vAxis: {
          title: 'Temperature Diff'
        }
      };

      var chart = new google.visualization.LineChart(document.getElementById('indoor_temp_diff'));

      chart.draw(data, options);
}

function graphPressures(dataSet) 
{
      var data = new google.visualization.DataTable();
      data.addColumn('date', 'Day');
      data.addColumn('number', 'Outdoor Pressure');
	  data.addColumn('number', 'Indoor Pressure');
	  
	  for (row in dataSet)
	  {
          var timestamp = Date.parse(dataSet[row]["date"]);
		  data.addRow([new Date(timestamp), dataSet[row]["garage_pressure"], dataSet[row]["indoor_pressure"]]);
	  }

      var options = {
	    title: 'Pressures',
		height: 300,
        hAxis: {
          title: 'Day'
        },
        vAxis: {
          title: 'Pressure Kpa'
        }
      };

      var chart = new google.visualization.LineChart(document.getElementById('pressure_chart'));

      chart.draw(data, options);
}

function graphHumidity(dataSet) 
{
      var data = new google.visualization.DataTable();
      data.addColumn('date', 'Day');
      data.addColumn('number', 'Outdoor Humidity');
	  data.addColumn('number', 'Indoor Humidity');
	  data.addColumn('number', 'Garage Humidity');
	  
	  for (row in dataSet)
	  {
          var timestamp = Date.parse(dataSet[row]["date"]);
		  data.addRow([new Date(timestamp), dataSet[row]["outdoor_humid"], dataSet[row]["indoor_humid"], dataSet[row]["garage_humid"]]);
	  }

      var options = {
	    title: 'Humidity',
		height: 300,
        hAxis: {
          title: 'Day'
        },
        vAxis: {
          title: 'Humidity %'
        }
      };

      var chart = new google.visualization.LineChart(document.getElementById('humidity_chart'));

      chart.draw(data, options);
}

function applyFilters()
{
	var startDateObj = new Date($('#start_date').val());
	var endDateObj = new Date($('#end_date').val());
	var startTime = document.getElementById("start_time");
	var endTime = document.getElementById("end_time");
	var queryString = "";
	if (!Number.isNaN(startDateObj.getDate()) && !Number.isNaN(endDateObj.getDate()))
	{
	    if (startDateObj > endDateObj)
		{
		    console.log("Warning: Start date is greater than end date");
		}
		else
		{
		    
		    queryString += "&start_date=" + (startDateObj.getMonth() + 1) + "/" + startDateObj.getDate() + "/" + startDateObj.getFullYear();
			queryString += "&end_date=" + (endDateObj.getMonth() + 1) + "/" + endDateObj.getDate() + "/" + endDateObj.getFullYear();
		}
	}
	
    $.getJSON('data?' + queryString, function (data) {
		//if (!chartsCreated)
		//{
		graphTemperatures(data["average_values"]);
		graphPressures(data["average_values"]);
		graphHumidity(data["average_values"]);
		graphTemperatureDifferential(data);
		graphIndoorTemperatureDifferential(data);
		//chartsCreated = true;
		//}
	     
    });
}

/*************************************************
* LOADS TABLE
* DESC: Loads all user tables onto the user page
*************************************************/
function loadTable() {
    $.getJSON('data', function (data) {
		if (!chartsCreated)
		{
		   graphTemperatures(data["average_values"]);
		   graphPressures(data["average_values"]);
		   graphHumidity(data["average_values"]);
		   graphTemperatureDifferential(data);
		   graphIndoorTemperatureDifferential(data);
		   chartsCreated = true;
		}
	     
    });
}

</script>

</body>
</html>
